.bg-yellow{
    height:1.875rem;
    background-color:#FFDB63;
}

.headerNav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: 0 auto;
    max-width: 90%;
}