.receitaItem{
    text-align:initial;
    height: 470px;
    width:400px;
    border-radius:33px;
}
.receitaImagem{
    border-radius:33px 33px 0 0;
    height:300px;
    background-size:cover;
    background-position:center;
}

.listagemHorizontal{
    padding:3rem 0;
}
.receitaDesc{
    padding:1rem 2rem 2rem 2rem;
    background-color:#F5F2F2;
    border-radius:0 0 33px 33px;

}
.receitaDesc p{
    padding:0.8rem 0;
}
.receitaDesc button{
    font-weight: 550;
    font-size:20px;
    background-color: #FFDB63;
    padding: 9px 33px;
    border:none;
    border-radius: 32px;
    cursor: pointer;
}