.listagemHorizontal{
    display: flex;
    justify-content: space-evenly;
    gap:2rem;
    height:800px;
}
.tituloListagem{
    font-size:39px;
    font-weight: 700;
    color:#2C2B2B;
}
.containerListagem{
    padding:3rem 0;
}
